<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Alquiler de Canchas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <header>


    </header>

    <main>
        <h1>¡Bienvenido al Sistema de Alquiler de Canchas!</h1>
        <p>Esta es la página de inicio.</p>
    </main>

    <footer>

    </footer>
    
</body>
</html>