<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
        <section class="nav-bar">

            <h2>Inicio</h2>
            <a class="login" href="{{ url_for('main.login') }}">Iniciar Sesión</a>

        </section>

    </header>

    <main>

        <section class="caja">
            <h1>Bienvenido a Gestión de Canchas de Fútbol</h1>
        </section>
        
        
    </main>

    <footer>

    </footer>
   
</body>
</html>
