<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <header>

        <section class="nav-bar">

            <a class="login" href="{{ url_for('main.home') }}">Inicio</a>
        </section>
        


    </header>

    <main>
        <section class="login-card">
        <h2>Mi Perfil</h2>
    <p><strong>Usuario:</strong> {{ datos.usuario }}</p>
    <p><strong>Nombre:</strong> {{ datos.nombre }}</p>
    <p><strong>Email:</strong> {{ datos.email }}</p>
    <p><strong>Teléfono:</strong> {{ datos.telefono }}</p>
    <h2>Tus reservas:</h2>
    <ul>
        {% for reserva in reservas %}
            <li>
                {{ reserva.cancha }} - {{ reserva.fecha_hora }}
                {% if reserva.puede_cancelar %}
                    <form action="{{ url_for('main.cancelar_reserva') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="reserva" value="{{ datos.usuario }} - {{ reserva.cancha }} - {{ reserva.fecha_hora }}">
                        <button type="submit">Cancelar</button>
                    </form>
                {% else %}
                    <span>(No se puede cancelar)</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('main.home') }}">Volver al inicio</a></p>
    <p><a href="{{ url_for('main.reservar') }}">
        <button>Reservar Cancha</button>
    </a></p> 

</section>
    </main>
      

   <footer>

   </footer> 
</body>
</html>

    