<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>

    <header>
        <section class="nav-bar">

            <a class="login" href="{{ url_for('main.home') }}">Inicio</a>

        </section>

    </header>

    <main>

        <h2>Registro de Usuario</h2>
    <form class="formulario" method="post">
        <div class="labels">
        <label>Usuario:</label>
        <input type="text" name="usuario" required><br>
        <label>Contraseña:</label>
        <input type="password" name="contraseña" required><br>
        <label>Nombre:</label>
        <input type="text" name="nombre" required><br>
        <label>Email:</label>
        <input type="email" name="email" required><br>
        <label>Teléfono:</label>
        <input type="text" name="telefono" required><br>
        <button type="submit">Registrarse</button>
        <p><a href="{{ url_for('main.login') }}">Volver al Login</a></p>
    </form>
    
</div>
    

    </main>

    <footer>

    </footer>
    
</body>
</html>
