<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reservar Cancha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reserva.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        body { font-family: sans-serif;  }
        form { background: white; padding: 20px; border-radius: 8px; max-width: 400px; margin: auto; }
        h2 { text-align: center; }
        button { padding: 10px 20px; border: none; background: green; color: white; border-radius: 5px; }
    </style>
</head>
<body>

    <header>
        <section class="nav-bar">

            <a class="login" href="{{ url_for('main.home') }}">Inicio</a>
        </section>

    </header>

    <main>
        <h2>Reservar Cancha</h2>
    <!-- Mostrar mensajes de flash como ventana emergente -->
    

    

    <form method="POST" action="{{ url_for('main.confirmar_reserva') }}">
        <label for="cancha">Seleccioná una cancha:</label><br>
        <select name="cancha" required>
            <option value="Cancha 1">Cancha 1 - Sintético</option>
            <option value="Cancha 2">Cancha 2 - Pasto natural</option>
        </select><br><br>

        <label for="fecha_hora">Fecha y Hora:</label><br>
        <input type="text" id="fecha_hora" name="fecha_hora" required><br><br>

        <button type="submit">Confirmar Reserva</button>
    </form>

    <p style="text-align:center; color: white;"><a href="{{ url_for('main.perfil') }}">← Volver al perfil</a></p>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#fecha_hora", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: "today",
            time_24hr: true
        });
    </script>

    </main>

    <footer>

    </footer>
    
</body>
</html>
